.form-container{
    display: flex;
    justify-content: center;
}

form {
    max-width: 600px;
}

label {
    color: var(--bs-dark);
    display: block;
    font-size: .8rem;
    margin-bottom: .4rem;
}

input[type="text"],
input[type="number"],
select {
    border: none !important;
    border-bottom: 2px solid var(--bs-dark) !important;
    border-radius: 0 !important;
    color: var(--bs-dark) !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    margin-bottom: 1rem;
}

input[type="file"] {
    padding: 50px;
    width: 60px;
    height: 70px;
    line-height: 1.0;
}

.form-control[type="file"] {
    width: 100%;
    background-color: var(--bs-light)!important;
    border: none;
}

[type="file"]::-webkit-file-upload-button {
    background-color: var(--bs-light);
    border: 2px solid var(--bs-primary);
    border-radius: 8px;
    color: var(--bs-primary);
    padding: 16px 32px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 450ms;
}

[type="file"]:hover::-webkit-file-upload-button {
    background-color: var(--bs-primary);
    border: 2px solid var(--bs-primary);
    border-radius: 8px;
    color: var(--bs-light);
}

button[type="reset"] {
    background-color: var(--bs-light);
    border-radius: 8px;
    border: 2px solid var(--bs-primary);
    margin-right: 16px;
    padding: 16px 32px;
}

button[type="submit"] {
    background-color: var(--bs-secondary);
    border-radius: 8px;
    border: 2px solid var(--bs-secondary);
    color: var(--bs-primary);
    margin-right: 16px;
    padding: 16px 32px;
}

@media (max-width: 767px) {
    button {
        margin-top: 16px;
        width: 100%;
    }
}