.fav-btn {
    position: absolute;
    top: 16px;
    right: 24px;
}

.fav-btn svg {
    stroke: var(--white);
    fill: rgba(255, 255, 255, 0.3);
    transition: all 300ms;
}

.fav-btn svg:hover {
    stroke: var(--secondary);
    fill: var(--secondary)
}