.card{
    color: black;
    width: 25rem;
    height: 31rem;
    border-radius: 8px;
    background-color:white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25;
    border-radius: 1rem;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 1.2rem 1.6rem rgba(0, 0, 0, 0.2);
}

.card > img{
    width: 100%;
    height: 10rem;
}

.card h3{
    display: flex;
    color: #763FC4;
    font-size: small;
    font-weight: 600;
    padding-left: 1.2rem;
}

.card h5 strong{
    display: flex;
    font-size: 1rem;
    color: black;
    text-align: left;
    padding-left: 1.2rem;
}
.cardInfo{
    color: #763FC4;
    display: flex;   
    justify-content: space-around;
    align-items: center;
}
.cardInfoP{
    font-size: 1rem;
    color: black;
}
strong{
    color: #763FC4;
    font-size: 1.5rem;
}
.cardButton {
    font-weight: bold;
    color: #763FC4;
    width: 8rem;
    height: 1.5rem;
    border-radius: 10rem;
    background-color: #50EFD4;
}

hr {
    width: 90%;
}

.cardInfoExtra {
    display: flex;
}

.cardInfoExtraContent {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.cardInfoExtraContent p {
    padding: 0 .5rem;
}