#search-bar>div>form>div>div.col-lg-1 {
    text-align: right;
}

.search-button {
    background-color: var(--secondary);
    border: none;
    border-radius: 64px;
    color: var(--primary);
    padding: 1.4rem;
    transition: all 300ms;
}

.search-button:hover {
    background-color: var(--primary);
    color: var(--white);
}

.search-button svg {
    width: 24px;
    height: 24px;
    stroke-width: 2px;
}

.search-button span {
    display: none;
}

@media (max-width: 992px) {
    .search-button {
        border-radius: 4px;
        font-size: 1.2rem;
        font-weight: 600;
        min-width: 100%;
        text-transform: uppercase;
        padding: 1rem;
    }
    .search-button span {
        display: block;
    }
    .search-button svg {
        display: none;
    }
}