.card .category-label {
    background-color: var(--primary);
    border-radius: 20px;
    color: var(--white);
    font-size: .7rem;
    font-weight: 600;
    position: absolute;
    padding: 6px 16px;
    top: 16px;
    left: 24px;
    transition: all 300ms;
}

.card .category-label:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.card .category-label a {
    color: var(--white);
    text-decoration: none;
    transition: all 300ms;
}

.card .category-label:hover a {
    color: var(--primary);
}