
.category-container{
    height: 8rem;
    display: flex;
    font-size: .9rem;
    background-color: var(--light-primary);
    color: #763FC4;
    padding: 1rem 0;
    align-items: flex-end;
    justify-content: space-around;
}

.category-button{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.category-button img{
    width: 2rem;
}

.category-button strong{
    font-size: .8rem;
}