
.detail-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .image-container {
    flex: 1;
    text-align: center;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 300px; /* Ajusta el tamaño según tus necesidades */
  }
  
  .image-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Espacio entre imágenes en la grilla */
  }
  
  .image-grid img {
    max-width: 100%;
    max-height: 150px; /* Ajusta el tamaño según tus necesidades */
  }
  
  button {
    /* Estilos del botón "Ver más" */
  }
  