.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
  }
  
  .image-gallery-container {
    flex: 0 0 calc(32% - 10px); /* Tamaño de imagen (33.33% para 3 imágenes en una fila) */
    margin-right: 10px; 
    margin-bottom: 10px; 
    text-align: center; 
  }
  
  .img-2 {
    max-width: 100%; 
    height: auto;
  }