/* #hero {
    width: 100%;
    height: 360px;
    background: url("/fondo.png");
    background-position: center -55vh;
    background-repeat: no-repeat;
    background-size: cover;
}
*/

#hero {
    width: 100%;
    height: 360px;
    overflow: hidden;
    position: relative;
}

#hero video {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

@media (min-width: 1920px) {
    #hero {
        height: 480px;
    }
}

@media (max-width: 1240px) {
    #hero {
        display: none;
    }
}