
.container-search{
    background-color: #ffffff;
    color: black;
    display: flex;
    border-radius: 25px;
    width: 100%;
    justify-content: space-evenly;
    height: 4rem;
}
label{
    font-size: .9rem;
}
.country-date-select{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.people-select{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.range-date{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formButton {
    border-radius: 50%;
    background-color: rgb(35, 77, 77);
}

#country{
    background-color: #ffffff;
    border-radius: 2rem;
    color: black;
    width: 15rem;
    border: 0;
}
input{
    background-color: #ffffff;
    border-radius: 2rem;
    padding-left: .5rem;
    color: black;
    width: 7rem;
    height: 1.4rem;
    border: 0;
}