.breadcrumb-container {
    margin-top: 9rem;
}

.breadcrumb {
    font-size: .8rem;
    margin-bottom: 0;
}

.breadcrumb-container .row>div {
    display: flex;
    align-items: center;
}

.breadcrumb .breadcrumb-item a {
    color: var(--gray);
    text-decoration: none;
    transition: all 300ms;
}

.breadcrumb .breadcrumb-item a:hover {
    color: var(--primary);
    text-decoration: underline;
}

.breadcrumb .active {
    color: var(--primary);
    font-weight: 600;
}