.pagination {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    width: 100%;
}

.pagination .pagination-btn-container button {
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 8px;
    color: var(--black);
    margin: 0 4px;
    padding: 6px 13px;
    transition: all 300ms;
}

.pagination .pagination-btn-container button:hover,
.pagination .pagination-btn-container button.active {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--white);
}

.pagination .pagination-btn-container button.pagination-controller {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: var(--primary);
    transition: all 300ms;
}

.pagination .pagination-btn-container button.pagination-controller:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--white);
}

.pagination .pagination-btn-container button[disabled] {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: var(--white);
    opacity: .5;
}

.pagination .pagination-btn-container button[disabled]:hover {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: var(--white);
}