/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  --primary: #763FC4;
  --secondary: #53F5DA;
  --black: #2A2A2A;
  --gray: #8B8B8B;
  --light-gray: #D9D9D9;
  --light-primary: #F8F5FC;
  --light-secondary: #A1F8E7;
  --white: #FFFFFF;
  --error: #F1406B;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

footer span svg {
  color: var(--secondary);
  width: 32px;
}

footer .legal {
  display: inline-block;
}

.secondary-color {
  color: var(--secondary);
}

.content-wrapper {
  margin: 2em 0;
}

.content-wrapper > h1 {
  margin-bottom: 0.5em;
}

h1 {
  padding: 0;
  margin: 0;
}

.img-wrapper {
  max-width: 100%;
  max-height: 100%;
}

.img-wrapper > img {
  object-fit: cover;
  width: 100%;
}

.work-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(382px, 560px));
  grid-gap: 24px;
  margin-bottom: 2em;
}

@media (max-width: 1200px) {
  main .content-wrapper {
    margin-top: 4rem;
    padding: 24px;
  }
  .container-xl {
    padding: 0 24px;
  }
  .work-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
  section#banner {
    padding: 0 24px 48px;
  }
  section#banner .row {
    display: flex;
    flex-direction: column-reverse;
  }
  section#banner .row h2 {
    margin-top: 14rem;
  }
  section#banner .banner-illustration img {
    position: absolute;
    top: -12rem;
    right: 20%;
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    padding-bottom: 64px;
  }
  .navbar-nav {
    font-size: 1.4rem;
    margin-top: 48px;
  }
  .navbar-nav a {
    text-decoration: none;
  }
  nav .btn {
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 48px;
    padding: 0;
    text-transform: none;
  }
}

@media (max-width: 767px) {
  .card .card-body .btn-container {
    text-align: left;
  }
  .card .card-body .btn {
    border-radius: 8px;
    width: 100%;
  }
  .card .card-body strong {
    font-size: 1.8rem;
    margin-left: 0.4rem;
  }
  .mb-5 {
    margin-bottom: 1.8rem !important;
  }
  
} */
