/***** ESTILOS PARA TODOS LOS BOTONES E ICONOS *****/


/* Principal */

.btn,
.swal2-confirm {
    background-color: var(--secondary) !important;
    border-radius: 32px;
    color: var(--primary) !important;
    font-weight: 600;
    padding: 8px 24px;
    text-transform: uppercase;
    transition: all 300ms;
}

.btn:hover,
.swal2-confirm:hover {
    background-color: var(--primary) !important;
    color: var(--white) !important;
}

.btn.delete-btn {
    background-color: var(--white) !important;
    border: 2px solid var(--error) !important;
    border-radius: 8px;
    color: var(--error) !important;
    font-size: 0.8rem;
    padding: 8px 16px;
    transition: all 300ms;
}

.btn.delete-btn:hover {
    background-color: var(--error) !important;
    color: var(--white) !important;
}

@media (max-width: 992px) {
    .navbar-collapse .btn {
        background-color: transparent !important;
        border-radius: 0;
    }
}


/* Secundario - Fondo blanco */

.btn-secondary {
    border-radius: 8px;
    margin: 0px 10px;
    background-color: var(--white);
    border: 1px solid var(--primary);
}


/* Botones en el navbar */

#search-bar>div>form>div>div.col-lg-1 {
    text-align: right;
}

.search-button {
    display: flex;
    justify-content: end;
}

.search-button button {
    background-color: var(--secondary);
    border: none;
    border-radius: 64px;
    color: var(--primary);
    padding: 1.4rem;
    transition: all 300ms;
}

.search-button button:hover {
    background-color: var(--primary);
    color: var(--white);
}

.search-button svg {
    width: 24px;
    height: 24px;
    stroke-width: 2px;
}

.search-button span {
    display: none;
}

@media (max-width: 992px) {
    .search-button {
        border-radius: 4px;
        font-size: 1.2rem;
        font-weight: 600;
        min-width: 100%;
        text-transform: uppercase;
        padding: 1rem;
    }
    .search-button span {
        display: block;
    }
    .search-button svg {
        display: none;
    }
    .search-button button {
        padding: .6rem;
        width: 100%;
    }
}


/* Icono favorito */

.fav-btn {
    position: absolute;
    top: 16px;
    right: 24px;
}

.fav-btn svg {
    stroke: var(--white);
    fill: rgba(255, 255, 255, 0.3);
    transition: all 300ms;
}

.fav-btn svg:hover,
.fav-btn.active svg {
    stroke: var(--secondary);
    fill: var(--secondary);
}


/* Botones XL */

.btn-lg,
.swal2-confirm {
    border-radius: 8px;
    width: 100%;
    padding: 16px 32px;
}


/* Galeria de imagenes */

.gallery-button-container {
    color: var(--primary);
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
}

.gallery-button-container a {
    color: var(--black);
    font-weight: 600;
    text-decoration: none;
}

.gallery-button-container:hover a {
    color: var(--primary);
    transition: all 300ms;
}

.gallery-button-container a span {
    background-color: var(--secondary);
    border: none;
    border-radius: 64px;
    color: var(--primary);
    margin-right: 8px;
    padding: 8px 6px;
    transition: all 300ms;
}

.gallery-button-container a span svg {
    width: 24px;
    height: 24px;
    padding-bottom: 4px;
    stroke-width: 2px;
    stroke: var(--primary);
    transition: all 300ms;
}

.gallery-button-container a:hover {
    text-decoration: underline;
}

.gallery-button-container a:hover span {
    background-color: var(--primary);
    color: var(--white);
}

.gallery-button-container a:hover svg {
    stroke: var(--white);
}


/* Return  */

.return-container {
    color: var(--primary);
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.return-container a {
    color: var(--black);
    font-weight: 600;
    text-decoration: none;
}

.return-container:hover a {
    color: var(--primary);
    transition: all 300ms;
}

.return-container a span {
    background-color: var(--secondary);
    border: none;
    border-radius: 64px;
    color: var(--primary);
    margin-right: 8px;
    padding: 8px 6px;
    transition: all 300ms;
}

.return-container a span svg {
    width: 24px;
    height: 24px;
    padding-bottom: 4px;
    stroke-width: 2px;
    stroke: var(--primary);
    transition: all 300ms;
}

.return-container a:hover {
    text-decoration: underline;
}

.return-container a:hover span {
    background-color: var(--primary);
    color: var(--white);
}

.return-container a:hover svg {
    stroke: var(--white);
}


/* Página de favoritos */

.modal-delete .swal2-confirm {
    border: 2px solid var(--error) !important;
    background-color: var(--white) !important;
    color: var(--error) !important;
    width: fit-content;
    padding: 8px 16px !important;
    transition: all 300ms;
}

.modal-delete .swal2-confirm:hover {
    background-color: var(--error) !important;
    border-color: var(--error) !important;
    color: var(--white) !important;
}

.modal-delete .swal2-cancel {
    border: 2px solid var(--gray);
    background-color: var(--white);
    color: var(--gray);
    font-weight: 600 !important;
    padding: 8px 16px !important;
    text-transform: uppercase !important;
    width: 35% !important;
    transition: all 300ms;
}

.modal-delete .swal2-cancel:hover {
    background-color: var(--gray) !important;
    border-color: var(--gray) !important;
    color: var(--white) !important;
}


/* Botones de mas y menos */

.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter>div {
    margin: 0px;
    padding: 0px;
}

.counter h3 {
    font-size: 14px;
}

.counter h3,
.counter p {
    margin: 5px;
    line-height: 1.5;
}

.counter p {
    color: var(--gray);
    font-size: 12px;
}

.counter-bttns {
    display: flex;
    margin: 10px;
    padding: 5px;
    align-items: center;
}

.counter-bttns button,
.counter-bttns p {
    padding: 0px 10px;
    margin: 0px;
}

.counter-bttns p {
    padding: 0px 15px;
}

.circle-bttn {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1px solid var(--primary);
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    color: var(--primary);
}


/* Botones de acciones para la edicion de productos */

.btn-svg {
    border: none;
    background-color: transparent;
    color: var(--primary);
    width: 15px;
    height: 15px;
    margin: 0px 10px;
    padding: 0px;
    font-weight: 500;
}

.btn-svg:hover {
    color: var(--secondary);
    transition: ease-in-out;
}


/** Boton agregar para las tablas **/

.bttn-add {
    border-radius: 10px;
    width: 40px;
    height: 30px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}