@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;800&display=swap");
:root {
    --primary: #763fc4;
    --secondary: #53f5da;
    --black: #2a2a2a;
    --gray: #8b8b8b;
    --light-gray: #d9d9d9;
    --light-primary: #f8f5fc;
    --light-secondary: #a1f8e7;
    --white: #ffffff;
    --error: #f1406b;
    --success: #a1f8a4;
}

* {
    font-family: "Sora", sans-serif;
}

li {
    list-style: none;
}

body {
    color: var(--black);
    font-size: 16px;
    line-height: 1.4;
    background-color: var(--white);
    margin: 0 auto;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

h1,
h3 {
    font-size: 1.6rem;
    line-height: 2.1rem;
}

h1 {
    font-weight: 800;
}

h3 {
    font-weight: 600;
}

p.subtitle {
    color: var(--gray);
}

.primary-color {
    color: var(--primary);
}

.secondary-color {
    color: var(--secondary);
}

.content-wrapper {
    margin: 2em 0;
    min-height: 33vh;
}

.content-wrapper>h1 {
    margin-bottom: 0.5em;
}

h1 {
    padding: 0;
    margin: 0;
}


/********** FORMULARIOS **********/

.form-container,
.container-table {
    width: 100vw;
    min-height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    margin-top: 0px;
}

.form-container {
    margin-top: 70px;
}

.form-login {
    background: url("/fondo.png") left center / cover;
    height: 100%;
    padding: 40px 60px;
}

.form,
.div-table {
    max-width: 80vw;
    width: 100%;
    border-radius: 16px;
    background: var(--white);
    padding: 0px 40px;
}

.form-login .form {
    max-width: 450px;
}

.form-container .form h2,
.container-table h2 {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 8px;
    background-color: var(--primary);
    color: var(--white);
    margin: 10px 0px;
}

.form-container input {
    border: none;
    border-bottom: 2px solid var(--black);
    border-radius: 0px;
    font-size: 14px;
    padding: 3px;
}

.input-group-text {
    border: none;
}

.form-container input:focus {
    border-color: var(--primary);
    box-shadow: none;
}

.form .col small {
    font-size: 12px;
}

.form .col p:first-child {
    font-weight: bold;
    font-size: 20px;
}

.form .col p:nth-child(2) {
    font-size: 14px;
    color: var(--gray);
}

.form .row:last-child {
    margin-top: 20px;
}

.signIn {
    font-size: 14px;
    text-align: center;
    margin: 10px;
    color: var(--gray);
}

.label-checkbox {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}

input[type="checkbox"] {
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 0px;
    padding: 5px;
    margin: 0px 5px;
}

input[type="file"] {
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 8px;
    padding: 10px;
}

section#form-container {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 4em;
}

section#detail,
section#reserve {
    margin-top: 2.5rem;
    margin-bottom: 6rem;
}

section#detail .container-all {
    display: flex;
}

section#detail .container-details {
    max-width: 60%;
    width: 100%;
    margin-right: 40px;
}

section#detail .container-filters {
    margin: 20px;
}

section#detail .container-filters .row:first-child {
    margin-top: 0px;
}

section#detail .container-filters h2 {
    font-size: 16px;
    padding: 5px;
    margin: 10px;
}

section#detail strong {
    color: var(--primary);
    font-weight: 600;
    font-size: 1.8rem;
    margin-left: 0.7rem;
}

section#detail .container-counter {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 300px;
    border-radius: 20px;
    padding: 20px;
    max-height: 300px;
}

section#detail>.row:first-child,
section#detail .container-details {
    border-bottom: 1px solid var(--primary);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

section#detail .row>.row>* {
    width: auto;
}

section#detail .row .row {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-left: 0px;
}

section#detail h1 {
    color: var(--primary);
    font-size: 1rem;
    font-weight: 600;
}

section#detail h2 {
    font-size: 2rem;
    font-weight: 600;
}

section#detail h3 {
    font-size: 1rem;
    font-weight: 600;
}

section#detail .container-details .row {
    margin-bottom: 1rem;
}

section#detail .container-details .row svg {
    margin-right: 8px;
}

section#detail .container-details .row em {
    color: var(--primary);
    font-style: normal;
    font-weight: 600;
}

section#detail .row:last-child,
section#detail .container-details .hotel-gallery .row {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

section#detail .container-details .hotel-gallery img {
    width: 100%;
}

.container-itinerary h3 {
    color: var(--primary);
    font-size: 1.7rem;
    font-weight: 600;
}

.container-itinerary h4 {
    color: var(--primary);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 0.4rem !important;
}

.container-itinerary h5 {
    font-size: 0.8rem;
    font-weight: 800;
    margin-top: 2rem;
}

.container-table .row {
    margin: 10px;
}

.container-table .row:first-child {
    margin: 0px;
}

.container-table h3 {
    font-size: 1rem;
    border-bottom: 1px solid var(--black);
}

.container-table .table-pagination a {
    border: none;
    border-radius: 10px;
    margin: 0px 10px;
    min-width: 200px;
}


/********** SCROLLBAR **********/

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
    transition: all 300ms;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

.tableList {
    margin-top: 7rem;
}

.table {
    margin-top: 7rem;
}

.content-section {
    margin-top: 120px;
}


/* Estilos para los datos en forma de tablas */

.table-data th,
td {
    padding: 5px 10px;
}

.table-data .thead-dark {
    background-color: var(--primary);
    color: var(--white);
}

.table-data .thead-dark th {
    font-weight: 100;
    min-width: 150px;
}

.table-data .thead-dark th:first-child {
    min-width: 0px;
}

@media (max-width: 1200px) {
    main .content-wrapper {
        margin-top: 4rem;
        padding: 24px;
    }
    .container-xl {
        padding: 0 24px;
    }
}

@media (max-width: 992px) {
    body {
        font-size: 14px;
        line-height: 1.4;
    }
}

@media (max-width: 767px) {
    main .content-wrapper {
        margin-top: 0;
    }
    .mb-5 {
        margin-bottom: 1.8rem !important;
    }
}


/** Check entradas en tour **/

#cont-input-entradas {
    display: none;
}


/** Pagina de adminsitrador **/

.content-admin-panel {
    padding: 40px;
    max-width: 70vw;
    min-height: 100vh;
    width: 100%;
    margin: 20px;
}


/*
section {
    min-width: 70vw;
}
*/

section .table-data {
    min-width: 100%;
}

.col-img-hotel {
    max-width: 300px;
    max-height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.col-img-hotel img {
    width: 100%;
}

section#detail strong {
    font-size: 4rem;
}


/* DateRange colores */

.rdrInRange {
    color: var(--primary) !important;
}

.rdrStartEdge,
.rdrEndEdge {
    color: #a179db !important;
}


/*Sobreescribiendo estilos datepicker*/

.react-datepicker__close-icon {
    display: none !important;
}

.react-datepicker {
    font-family: "Sora", sans-serif !important;
    background-color: var(--white) !important;
    color: var(--black) !important;
    border: 1px solid var(--light-gray) !important;
}

.react-datepicker__header {
    background-color: var(--primary) !important;
    border-bottom: 1px solid var(--light-gray) !important;
}

.react-datepicker__day-name,
.react-datepicker__current-month {
    color: var(--white) !important;
}

.react-datepicker__navigation-icon::before {
    border-color: var(--secondary) !important;
}

.react-datepicker__today-button {
    background-color: var(--primary) !important;
    color: var(--white) !important;
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::after {
    border-top-color: var(--primary) !important;
}

.react-datepicker__day--in-range {
    border-radius: 0.3rem;
    background-color: var(--secondary) !important;
    color: var(--primary) !important;
}