section#search-bar {
    background-color: var(--white);
    border-radius: 64px;
    box-shadow: 0 0 16px rgba(118, 63, 196, .2);
    padding: 1rem 1rem 1rem 1.6rem;
    position: relative;
    top: -2.6rem;
    left: 0;
}

section#search-bar label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: .8rem;
}

section#search-bar .form-group .form-control,
section#search-bar .form-group input {
    border: 0;
    padding: 0;
}

section#search-bar .form-group .form-control,
section#search-bar .form-group input::placeholder {
    color: var(--gray);
}

section#search-bar .selected-option {
    color: var(--black);
}

section#search-bar .search-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

section#search-bar .suggestions-list {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    border: 1px solid var(--gray);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    padding-left: 0;
    z-index: 1000;
    overflow-y: auto;
}

section#search-bar .suggestions-list li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all 300ms;
}

section#search-bar .suggestions-list li:hover {
    background-color: var(--primary);
    color: var(--white);
}

@media (min-width: 1240px) and (max-width: 1400px) {
    section#search-bar .form-group input {
        font-size: 1rem;
        width: 100%;
    }
}

@media (max-width: 1240px) {
    section#search-bar {
        background-color: var(--primary);
        border-radius: 0;
        box-shadow: none;
        padding: 1rem 1rem 1rem 1.6rem;
        position: relative;
        top: 0;
        left: 0;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }
    section#search-bar form {
        margin: 2rem 0;
    }
    section#search-bar label {
        display: none;
    }
    section#search-bar .form-group {
        margin-bottom: 1rem;
    }
    section#search-bar .form-group .form-control {
        padding: 1rem 1.4rem;
        min-width: 100%;
    }
    section#search-bar .form-group input {
        max-width: 120px;
        padding: 1rem .6rem;
    }
    section#search-bar .form-group input:first-child {
        margin-right: 1rem;
    }
    section#search-bar .form-group input {
        border-radius: 4px;
    }
}

@media (max-width: 768px) {
    section#search-bar .form-group input {
        padding: 1rem 1.4rem;
    }
    section#search-bar .form-group input {
        font-size: .8rem;
    }
    section#search-bar .form-group #search-input {
        font-size: .8rem;
        max-width: 83vw;
    }
}